/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 3, 2017, 5:12:40 PM
    Author     : danielunag
*/

.background-products{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: url("../img/productos-background.png") no-repeat fixed;*/
    /*background-color: white;*/
    background-size: 100% 100%;
}

.miele-logo{
    height: 41px;
    margin-left: 34%;
    margin-top: 2%;
}

.searcher-content{
    top: 0px;
    height: 51px;
    background-color: #464646;
}

.boxes-content{
    /*position: relative;*/
    padding-left: 0px;
    padding-right: 0px;
    overflow-y: auto;
    padding-bottom: 150px;
}

.box-content{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.glyphicon-search{
    color: #b30000;
}

.input-group-addon{
    background-color: #e8e8e8;
    border-radius: 22px;
    border-right: none;
}

.form-control{
    background-color: #e8e8e8;
    border-radius: 22px;
    border-left: none;
    border-right: none;
    color: black;
}

.navbar-collapse{
    padding-left: 100px;
    width: 400px;
    float: right;
}

.box{
    width: 100%;
    height: 462px;
    position: relative;
}

.icon{
    width: 110%;
    height: auto;
    position: absolute;
    margin-top: 20%;
    background-color: white;
}

.product-img{
    width: 204px;
    height: 204px;
    margin-left: 26px;
    margin-right: 26px;
}

.box .product-title{
    margin-top: 20px;
    height: 30px;
    font-size: 19px;
    font-weight: bold;
    padding-left: 55px;
}

.box .product-model{
    margin-top: 15px;
    height: 30px;
    font-size: 16px;
    padding-left: 55px;
}

.box .product-cost{
    margin-top: 15px;
    height: 30px;
    font-size: 19px;
    font-weight: bold;
    padding-left: 55px;
    color: #760c0f;
}

.box .product-description{
    margin-top: 15px;
    height: auto;
    font-size: 16px;
    padding-left: 55px;
}

.product-description-title{
    margin-top: 15px;
    height: 30px;
    font-size: 19px;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 55px;
    color: #760c0f;
}

.product-attributes-title{
    padding-left: 55px;
}

.product-attributes{
    margin-top: 15px;
    height: auto;
    font-size: 16px;
    padding-left: 55px;
    list-style-type: disc;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    padding: 2px 16px;
    background-color: transparent;
    color: black;
    border-bottom: 0px solid white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: black;
    border-top: 0px solid white;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 0;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: black;
    float: right;
    font-size: 65px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #747474;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.prev {
    left: 100px;
}

.next {
  right: 100px;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dott {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.slider-img {
    width: 55%;
    height: 55%;
    margin-left: 22%;
}

.dot-img {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;   
    margin-bottom: 10px;
}