/* 
    Created on : Feb 2, 2017, 1:53:27 PM
    Author     : danielunag
*/
body{
    font-size: 18px;
}
.navbar{
    background-color: #E60000;
    min-height: 85px;
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.navbar.message-mode{
    background-color: transparent;
}

.navbar.message-mode .navbar-right{
    display: none;
}
.navbar.message-mode{
    display: block;
}

.navbar-brand {
    float:none;
}
.navbar-title{
    
}
.navbar.message-mode .survey-title{
    display: none;
}
.navbar .survey-title{
    color: white;
    font-size: 25px;
    display: block;
}

.footer-Wrapper{
    position: absolute;
    top: 90%;
    width: 100%;
}

.footer-Wrapper img{
    width: 100%;
}

.background-survey-interface{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/BK 01.png") no-repeat fixed;
    background-size: 100% 100%;
}
.slider-content{
    height: 100%;
    position: absolute;
}
.message-container{
    height: 100%;
    position: relative;
    width: 100%;
    font-size: 40px;
    text-align: center;
}

.message-container .text-wrapper{
    height: 40%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.message-container .button-wrapper{
    position: absolute;
    top: 50%;
    
}
.surveyBuilderContainer{
    height: 90% !important;
    position: absolute;
    background-color: transparent;
}
.questionContainer{
    padding: 10px;
    background-color: white;
}

.questionContainer .form-horizontal{
    display: flex;
}

.bx-wrapper{
    height: 97%;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    background-color: transparent !important;
}
.bx-viewport{
    height: 100% !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.page-content-wrapper {
    height: 100%;
}

.slider-container{
    overflow-y: auto;
    height: 100%;
}

.slider-number-container{
    width: 100%;
    height: 35px;
    text-align: center;
}
